In [1]:
# Predict Septa delays!

In [2]:
import pandas as pd

In [4]:
septa_data = pd.read_csv('https://raw.githubusercontent.com/arcus/education-materials/master/ml-intermediate/datasets/septa/septa_otp.csv')

In [5]:
septa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679022 entries, 0 to 679021
Data columns (total 7 columns):
train_id        679022 non-null object
direction       679022 non-null object
origin          679022 non-null object
next_station    679022 non-null object
date            679022 non-null object
status          679022 non-null object
timeStamp       679022 non-null object
dtypes: object(7)
memory usage: 36.3+ MB

In [6]:
septa_data.head()

,train_id,direction,origin,next_station,date,status,timeStamp
0,777,S,Chestnut Hill East,30th Street Station,2016-06-01,On Time,2016-06-01 00:00:10
1,9264,N,Marcus Hook,Darby,2016-06-01,On Time,2016-06-01 00:00:13
2,591,S,Doylestown,Jenkintown-Wyncote,2016-06-01,On Time,2016-06-01 00:00:34
3,474,N,Airport Terminal E-F,Elkins Park,2016-06-01,On Time,2016-06-01 00:00:34
4,276,N,Wilmington,Manayunk,2016-06-01,2 min,2016-06-01 00:00:40

In [8]:
septa_data.status.value_counts()

On Time     207172
1 min        80778
2 min        70333
3 min        56150
4 min        45625
5 min        36666
6 min        28913
7 min        23130
8 min        18157
9 min        15384
10 min       12951
11 min       10952
12 min        9278
13 min        7830
14 min        6696
15 min        6380
16 min        5069
17 min        4574
18 min        3740
19 min        3424
20 min        2983
21 min        2319
22 min        2239
23 min        2164
24 min        1589
25 min        1571
26 min        1225
28 min        1159
27 min        1043
29 min        1004
             ...
79 min          16
76 min          15
73 min          14
72 min          13
87 min          13
85 min          13
90 min          10
75 min           9
83 min           7
71 min           7
86 min           6
78 min           5
89 min           5
81 min           5
88 min           4
80 min           4
91 min           4
95 min           4
84 min           4
98 min           3
97 min           3
104 min          2
93 min           2
124 min          2
92 min           2
103 min          2
102 min          1
1440 min         1
107 min          1
99 min           1
Name: status, Length: 105, dtype: int64

In [17]:
septa_data['delayed'] = septa_data.status.str.contains("min")

In [18]:
septa_data.delayed.value_counts()

True     471850
False    207172
Name: status, dtype: int64

In [32]:
septa_data['delay_length'] = septa_data.status.str.extract(r'(\d+)').fillna(0)

In [34]:
septa_data.head(10)

,train_id,direction,origin,next_station,date,status,timeStamp,delayed,delay_length
0,777,S,Chestnut Hill East,30th Street Station,2016-06-01,On Time,2016-06-01 00:00:10,False,0
1,9264,N,Marcus Hook,Darby,2016-06-01,On Time,2016-06-01 00:00:13,False,0
2,591,S,Doylestown,Jenkintown-Wyncote,2016-06-01,On Time,2016-06-01 00:00:34,False,0
3,474,N,Airport Terminal E-F,Elkins Park,2016-06-01,On Time,2016-06-01 00:00:34,False,0
4,276,N,Wilmington,Manayunk,2016-06-01,2 min,2016-06-01 00:00:40,True,2
5,598,N,Thorndale,Wynnewood,2016-06-01,1 min,2016-06-01 00:00:57,True,1
6,279,S,Elm,Ridley Park,2016-06-01,1 min,2016-06-01 00:01:01,True,1
7,778,N,Trenton,Stenton,2016-06-01,On Time,2016-06-01 00:01:26,False,0
8,598,N,Thorndale,Narberth,2016-06-01,1 min,2016-06-01 00:02:01,True,1
9,6464,N,None,None,2016-06-01,On Time,2016-06-01 00:02:12,False,0

In [60]:
septa_data['timeStamp'] = pd.to_datetime(septa_data['timeStamp'])
septa_data['weekday'] = septa_data['timeStamp'].dt.day_name()
septa_data['time'] = [time.time() for time in septa_data['timeStamp']]

septa_data = septa_data.drop(columns=['status', 'timeStamp'])

In [61]:
septa_data.head(10)

,train_id,direction,origin,next_station,date,delayed,delay_length,weekday,time
0,777,S,Chestnut Hill East,30th Street Station,2016-06-01,False,0,Wednesday,00:00:10
1,9264,N,Marcus Hook,Darby,2016-06-01,False,0,Wednesday,00:00:13
2,591,S,Doylestown,Jenkintown-Wyncote,2016-06-01,False,0,Wednesday,00:00:34
3,474,N,Airport Terminal E-F,Elkins Park,2016-06-01,False,0,Wednesday,00:00:34
4,276,N,Wilmington,Manayunk,2016-06-01,True,2,Wednesday,00:00:40
5,598,N,Thorndale,Wynnewood,2016-06-01,True,1,Wednesday,00:00:57
6,279,S,Elm,Ridley Park,2016-06-01,True,1,Wednesday,00:01:01
7,778,N,Trenton,Stenton,2016-06-01,False,0,Wednesday,00:01:26
8,598,N,Thorndale,Narberth,2016-06-01,True,1,Wednesday,00:02:01
9,6464,N,None,None,2016-06-01,False,0,Wednesday,00:02:12